In [1]:
import pandas as pd

In [2]:
x={
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
dx=pd.DataFrame(x)

In [3]:
dx

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
dx.apply(len)

A    3
B    3
C    3
dtype: int64

In [8]:
dx.apply(pd.series.max)

AttributeError: module 'pandas' has no attribute 'series'